*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.intestazione{
    background-image: url("/img/pattern.png");
    height: 100px;
    background-color: lightblue;
    background-size: contain;
    background-size: 500px;
}
#logo {
    height: 100px;
    width: 200px;
}
h1{
    margin-top: 10px;
    font-size: 60px;
}
header span{
    color: blue;
}
.data{
    font-size: 14px;
    color: grey;
}

/* main */
section img{
   height: 400px;
   display: inline-block;
}
section div{
    font-size: 14px;
}
section p{
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}
.testo-sottolineato{
    background-color: yellow;
}
ul{
    margin-left: 20px;
}
th{
    color: white;
    background-color: blue;
    padding-right: 120px;
}
.azzurro{
    background-color: aquamarine;
}
/* footer */
footer p{
    color: grey;
    margin-top: 30px;
}
.immagine-footer{
    margin-top: 20px;
    background-image: url("/img/monitor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    color: white;
}
.immagine-footer-2{
    margin-top: 20px;
    background-image: url("/img/graph.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 200px;
    color: white;
}